body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;  
}

nav {
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}
