:root {
    --bg-main: #F5F5F5;
    --bg-active: #f2f3f5;

    --blue: #23457f;
    --blue-alt: #0071bc;
    --blue-light: "#d9edf7";

    --font-large: 2.0rem;
    --font-medium: 1.5rem;
    --font-base: 1.25rem;

    --font-color: #000000;

    --margin-base: 1.2rem;

    --page-width: 768px;
}

body {
    background-color: var(--bg-main);
    font-size: var(--font-base);
    font-family: sans-serif;     
    line-height: 1.5;
    margin: 1rem;
    max-width: var(--page-width);
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-size: var(--font-medium);
    margin-top: var(--margin-base);
    margin-bottom: var(--margin-base);
    font-weight: bold;    
    text-align: left;
}

h2  {
    font-size: calc(var(--font-medium) * 0.95);
}

h3  {
    font-size: calc(var(--font-medium) * 0.90);
}

h4  {
    font-size: calc(var(--font-medium) * 0.85);
}

h5  {
    font-size: calc(var(--font-medium) * 0.80);
}

h6  {
    font-size: calc(var(--font-medium) * 0.75);
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;  
}

nav {
  width: 30%;
  font-size: var(--font-base);  
  
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

footer {
  border-top: 1px solid #222;
  margin-top: 2rem;
}

a {
  color: #00e;
  text-decoration: none;
}
